#first{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#first > .left{
    display: flex;
    flex-direction: column;

    width: 40%;
    margin: auto 0;

    z-index: 2
    /* border: 2px solid red; */
}

#first #texts{
    display: flex;
    flex-direction: column;  
    gap: 1rem;
    margin-bottom: 2.1rem;

    position: relative;
}

#first #texts svg{
    position: absolute;
    z-index: -1;
}

#svg-plus{
    bottom: 130%;
    right: 130%;
}

#svg-triangle{
    left: 80%;
    bottom: 110%;
}

#svg-triangle-big{
    top: 110%;
    left: 100%;
}

#svg-circle{
    top: 110%;
    right: 115%;
}

#svg-x{
    left: 100%;
    top: 30%;
}

#first .btns button{
    width: auto;
}

#first .big{
    width: 90%;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3rem;
}

#first .semi{
    font-size: 1.2rem;
    line-height: 2rem;
}

#first .btns{
    display: flex;
    gap: 1.4rem;
    margin-bottom: 3rem !important;
    font-weight: 600;
}

#first .secondary{
    background-color: transparent;
    border: none;
    padding: 0;
}

#first #badge{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 0.8rem;

    margin: 2.5rem 0;

    width: max-content;
    height: 6rem;
}

#first #badge .wing{
    width: 1.8rem;
    height: 100%;

    display: flex;
    align-items: flex-start;
}

#first #badge #badge-container{
    height: 100%;
    width: auto;
}

#first #badge #badge-container img{
    height: 100%;
    width: 4rem;
}

#first #badge .wing svg{
    width: auto;
    height: 100%;

    margin-bottom: auto;
}

#first #badge .content{
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: max-content;
}

#first #badge #separator{
    display: flex;
    height: 70%;
    border-left: 1px solid #C1C1C1;;
}

#first #badge .content p:nth-of-type(1) {
    font-weight: bold;
    font-size: 1.4rem;
}

#first #badge .content p:nth-of-type(2) {
    font-weight: lighter;
}

#first #badge #stars-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#first #badge #stars-container span{
        width: 1.2rem;
        height: 1.2rem;
        background-color: #FFB545;;
        margin: auto;
    
        clip-path: polygon(50% 0, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

#first .line{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--secondary-2);
    margin: 0;
}

#first > .right{
    display: flex;
    z-index: -1;
    height: 52rem;
    /*min-height: 100vh;
    */width: 68%;
    position: absolute;
    top: -22rem;
    left: 52%;
    transform:rotate(-16deg);
    -webkit-transform:rotate(-16deg);
    -moz-transform:rotate(-16deg);
    -ms-transform:rotate(-16deg);
    -o-transform:rotate(-16deg);
    border-bottom-left-radius: 6rem;
    /*overflow: hidden;  */
    background-color: var(--primary-1);
}

#first > .right .left{
    display: flex;
    flex-direction: column;

    
    width: 28%;
    height: 100%;
    background-color: var(--primary-2);
    border-bottom-left-radius: 6rem;
    
    position: relative;
    overflow: visible;
}

#first > .right .right{
    width: 100%;
    background-color: var(--primary-1);
}

#first #pattern{
    z-index: -1;
    position: absolute;
    left: -180%;
    top: 10%;
}

#svg-right-circle{
    position: absolute;
    right: -152%;
    top: 70%;
}

#first > .right #img-wrapper , #img-wrapper-2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 140%;

    position: absolute;
        bottom: -5rem;
        left: -20%;
}

#img-wrapper-2{
    display: none;
}

#img-wrapper .row, #img-wrapper-2 .row{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    position: relative;
}

#img-wrapper .row img, #img-wrapper-2 .row img{
    width: 50%;
    /*backdrop-filter: blur(10.719239234924316px);
    */filter: drop-shadow(19.723px 24.869px 36.017px rgba(59, 59, 59, 0.35));
    -webkit-filter: drop-shadow(19.723px 24.869px 36.017px rgba(59, 59, 59, 0.35));
}

.stat1{
    width: 60% !important;
}
.earnedStat{
    width: 40% !important;
    align-self: flex-end;
}

.contact-created{
    width: 65% !important;
    margin: auto;
}

@media only screen and (max-width: 1500px) {
    #first > .left{
        width: 38%;
    }

    #first > .right{
        height: 52rem;
        /*min-height: 100vh;
        */width: 60%;
        top: -20rem;
        left: 48%;
    }

    #first > .right #img-wrapper{
        width: 174%;
        bottom: -5rem;
        left: -20%;
    }

    #first #pattern{
        width: 875px;
        top: -15%;
        left: -25vw;
    }
}

@media only screen and (max-width: 992px) {
    #first > .left{
        width: 45%;
    }

    #first > .right{
        top: -26rem;
    }

    #first > .right #img-wrapper{
        width: 185%;
    }

    #first #pattern{
        width: 1000px;
        top: -5%;
        left: -41vw;
    }
}

@media only screen and (max-width: 810px){
    #first > .left{
        width: 45%;
    }

    #first > .right{
        /*min-height: 100vh;
        */width: 60%;
    }
    
    #first #pattern {
        width: 863px;
        top: -8%;
        left: -40vw;
    }    

    #first #texts svg{
        width: 15px;
        z-index: 1;
    }

    #svg-plus {
        bottom: 106%;
        right: 99%;
    }

    #svg-circle {
        top: 102%;
        right: 95%;
    }
}

@media only screen and (max-width: 680px){
    #first{
        align-items: center;
    }

    #first > .left{
        width: 100%;
    }

    #first .btns {
        flex-direction: row;
    }

    #first .btns button {
        width: fit-content;
    }

    #first > .right .left, #first > .right .right{
        background-color: transparent;
    }

    #first > .right #img-wrapper {
        display: none;
    }

    #first #pattern {
        width: 863px;
        top: -58%;
        left: -67vw;
    }

    #img-wrapper-2{
        z-index: -1;
        display: flex;
        width: 50vw;
        /*height: 100lvh;
        */left: auto;
        right: var(--horiz-padding);
        bottom: calc(4*var(--horiz-padding));
        transform: rotate(20deg)   ;
        -webkit-transform: rotate(20deg)   ;
        -moz-transform: rotate(20deg)   ;
        -ms-transform: rotate(20deg)   ;
        -o-transform: rotate(20deg)   ;
    }

    #img-wrapper-2 .row img{
        width: 40% !important;
    }

    #first #line1{
        display: none;
        width: 50% !important;
    }

    .btns .secondary, #first #badge{
        backdrop-filter: blur(10px);
    }

    #first .secondary{
        background-color: transparent;
        border: none;
        padding: 0.875rem 2rem;
    }
}

@media only screen and (max-width: 400px){
    #first .btns {
        flex-direction: column;
        margin: auto 0 1rem 0;
    }

    #first #texts {
        margin-bottom: 3.5rem;
    }

    #first .btns button {
        width: 100%;
    }

    #first #badge {
        margin: 1.3rem 0;
    }

    
    #line1{
        width: 100% !important;
    }
}