@font-face {
	font-family: 'OpenSans-Regular';
	src: url('/assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('/assets/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Regular';
	src: url('/assets/fonts/jost/Jost\ Regular\ 400.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Bold';
	src: url('/assets/fonts/jost/Jost\ Bold\ 700.ttf') format('truetype');
}
