@font-face {
	font-family: 'OpenSans-Regular';
	src: url('/assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('/assets/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-BoldItalic';
	src: url('/assets/fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url('/assets/fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-ExtraBoldItalic';
	src: url('/assets/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Italic';
	src: url('/assets/fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('/assets/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-LightItalic';
	src: url('/assets/fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('/assets/fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-SemiBoldItalic';
	src: url('/assets/fonts/open-sans/OpenSans-SemiboldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Regular';
	src: url('/assets/fonts/jost/Jost\ Regular\ 400.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Black';
	src: url('/assets/fonts/jost/Jost\ Black\ 900.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-BlackItalic';
	src: url('/assets/fonts/jost/Jost\ Black\ Italic\ 900.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Bold';
	src: url('/assets/fonts/jost/Jost\ Bold\ 700.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-BoldItalic';
	src: url('/assets/fonts/jost/Jost\ Bold\ Italic\ 700.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-ExtraBold';
	src: url('/assets/fonts/jost/Jost\ ExtraBold\ 800.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-ExtraBoldItalic';
	src: url('/assets/fonts/jost/Jost\ ExtraBold\ Italic\ 800.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-ExtraLight';
	src: url('/assets/fonts/jost/Jost\ ExtraLight\ 250.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-ExtraLightItalic';
	src: url('/assets/fonts/jost/Jost\ ExtraLight\ Italic\ 250.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Italic';
	src: url('/assets/fonts/jost/Jost\ Italic\ 400.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Light';
	src: url('/assets/fonts/jost/Jost\ Light\ 300.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-LightItalic';
	src: url('/assets/fonts/jost/Jost\ Light\ Italic\ 300.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Medium';
	src: url('/assets/fonts/jost/Jost\ Medium\ 500.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-MediumItalic';
	src: url('/assets/fonts/jost/Jost\ Medium\ Italic\ 500.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-SemiBold';
	src: url('/assets/fonts/jost/Jost\ SemiBold\ 600.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-SemiBoldItalic';
	src: url('/assets/fonts/jost/Jost\ SemiBold\ Italic\ 600.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-Thin';
	src: url('/assets/fonts/jost/Jost\ Thin\ 250.ttf') format('truetype');
}

@font-face {
	font-family: 'Jost-ThinItalic';
	src: url('/assets/fonts/jost/Jost\ Thin\ Italic\ 250.ttf') format('truetype');
}

