.sales_automation {
    text-align: center;
    margin: 20px;
}

.sales_automation .discount_border {
    border: 2px dashed var(--secondary-2);
    border-radius: 20px;
}

.sales_automation .discount_border .no_border {
    border-radius: 20px;
    margin: 10px;
    background-color: var(--secondary-3); 
    display: flex;
    padding-top :4%;
    padding-bottom: 4%;

}

.sales_automation .discount_border .no_border .card {
    flex: 1;
    text-align: start;
}

.card_button {
    height: 45px;
    width: 30%;
    background-color: rgb(27, 25, 25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5%;
}

.card_title {
    display: flex;
}

.card_title .logo {
    margin-right: 1rem;
}

.card_title .logo img {
    height: 3rem;
    width: 3rem;
}

.line {
    border: 1px solid var(--secondary-2);
    width: 50%;
    margin-left: 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.work {
    display: flex;
}

.work_left {

}

.work .work_left h3 {
    margin-left: 10px;
    margin-bottom: 0.5rem;
}

.work .work_left p {
    margin-left: 10px;
    margin-bottom: 2rem;
}


.work_left .work_card {
    display: flex;
    border: 1px solid var(--secondary-3);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    
}

.work .work_left .work_card .logo {
    font-size: 20px;
    color: var(--primary-1);
    margin-left: 5px;
    margin-right: 10px;

}

.work .work_right {
    background-color: var(--secondary-3);
    display: flex;
    border-radius: 20px;
    padding-left: 1.5rem;
    margin-left: 2rem; 
    flex: 1.5;
}

.work_right_text {
    flex: 1;
}

.work_right_text h3 {
    margin-top: 5rem;

}

.work_right_buttons {
    display: flex;
}

.wr_btn {
    display: flex;
    background-color: black;
    border-radius: 0.3rem;
    margin-right: 20px;
    align-items: center;
    color: white;
    align-items: center;
    padding: 0.5rem;
}


.btn_logo img{
    height: 30px;
    width: 30px;
}

.wr_btn .text_btn {
    font-size: 1rem;
}

.work_right_img {
    flex: 0.5;
}

.work_right_img img{
    height: 30rem;
}

.profile {
    background-color: var(--secondary-1);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile_nav {
    display: flex;
}

.left {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 5rem;
    width: 5rem;
    border-left: 1px solid var(--secondary-2);
    border-top: 1px solid var(--secondary-2);
    border-bottom: 1px solid var(--secondary-2);
}

.left .circle1 .circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
}

.left .circle1 .circle2 img {
    rotate: 180deg;
}


.middle {
    flex: 1;
    height: 100vh;
    background: url("/assets/brique.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 150% 150%;   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: var(--secondary-3);
}

.middle .img {
    width: 10rem;
    height: 10rem;
    border-radius: 500px;
    margin-bottom: 2rem;
}

.middle .star {
    margin-bottom: 2rem;
}

.middle .star img {
    width: 2rem;
    margin-right: 0.5rem;
}

.middle p {
    margin-bottom: 2rem;
}
.middle p span {
    color: var(--primary-1);
}

.right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 5rem;
    width: 5rem;
    border-right: 1px solid var(--secondary-2);
    border-top: 1px solid var(--secondary-2);
    border-bottom: 1px solid var(--secondary-2);
}

.right .circle1 .circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
}

.profile_line {
    border: 1px solid gray;
    width: 70%;

}

.profile_stat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_stat .stat {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 8rem;
    color: var(--secondary-3);
}

.slash {
    color: var(--primary-1);
}

.K {
    color: orange;
}

.plus {
    color: rgb(98, 224, 98);
}

.M {
    color: rgb(228, 94, 94);
}