@import './components/nav.css';
@import './components/btns.css';
@import './components/first.css';

:root {
	--primary-1: #49deff;
	--primary-2: #4fffdf;
	--primary-3: #303030;

	--secondary-1: #4E4E4E;
	--secondary-2: #DEDEDE;
	--secondary-3: #F4F4F4;
	--secondary-4: #F9F9F9;

	--horiz-padding : 15%;
	--vert-padding : 2.5rem;

	font-size: 20px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

/* *::-webkit-scrollbar {
	display: none;
} */

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	position: relative;
	width: 100vw;
	height: 100lvh;
	overflow-y: hidden;

	background-color: white;
	color: var(--primary-3);
}

button:hover, a:hover{
	cursor: pointer;
}

/* #loader{
  z-index: 16;
} */

#main-content {
	z-index: 15;

	width: 100%;
	height: 100lvh;
	overflow-y: auto;
	overflow-x: hidden;

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#main-content > nav {
    /* border: 2px solid red; */
    padding: var(--vert-padding) var(--horiz-padding) 2rem var(--horiz-padding);
	width: 100%;
}

.full-page{
	min-height: 96lvh;
	/* border: 2px solid cyan; */
	padding: calc(var(--vert-padding)*5) var(--horiz-padding);
}

@media only screen and (max-width: 1500px) {
	:root{
		--horiz-padding : 10%;
		font-size: 14px;
		--vert-padding : 2rem;
	}

	#main-content>* {
		width: 100%;
	}
}

@media only screen and (max-width: 992px) {
    :root{
        --horiz-padding: 4%;
    }

	body{
		border: 2px solid magenta;
	}
}